@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

h2 {
  @apply text-2xl font-bold text-balance mb-2;
}

h3 {
  @apply text-xl font-bold text-balance mb-2;
}

ul {
  @apply list-disc list-inside;
}

p {
  @apply text-lg mb-3 leading-8;
}

code {
  @apply bg-gray-200 px-1 rounded-sm;
}

a {
  @apply text-[#3230AD];
}

a:hover {
  @apply text-blue-700 underline;
}

input {
  @apply border border-gray-300 rounded-sm p-2;
}

button, .btn {
  @apply bg-[#3230AD] text-white px-4 py-2 h-[42px] rounded-sm;
}

button:hover, .btn:hover {
  @apply bg-[#1E1C7D] text-white no-underline;
}


button.no-style, .btn.no-style {
  @apply bg-transparent text-[#3230AD] no-underline h-auto p-0;
}

table {
  @apply border-collapse w-full;
}

th {
  @apply bg-gray-100 text-left p-2;
}

td {
  @apply border-t border-gray-300 p-2 align-top;
}

tr:last-of-type td {
  @apply border-b border-gray-300;
}

.card {
  @apply bg-white shadow-md rounded-lg p-4 border;
}

.footer {
  @apply mt-12 bg-[#3230AD] px-24 py-12 text-white text-center;

  a {
    @apply text-white underline;
  }

  a:hover {
    @apply text-gray-100;
  }
}